<?xml version="1.0" encoding="UTF-8"?>
<termekek>
    <fejlec>
        <fej>Azonosító</fej>
        <fej>Név</fej>
        <fej>Egységár</fej>
        <fej>Mennyiség</fej>
    </fejlec>
    <termek>
        <azon>${termekek[0].azon}</azon>
        <nev>${termekek[0].nev}</nev>
        <egysegar>${termekek[0].egysegar}</egysegar>
        <mennyiseg>${termekek[0].mennyiseg}</mennyiseg>
    </termek>
    <termek>
        <azon>${termekek[1].azon}</azon>
        <nev>${termekek[1].nev}</nev>
        <egysegar>${termekek[1].egysegar}</egysegar>
        <mennyiseg>${termekek[1].mennyiseg}</mennyiseg>
    </termek>
</termekek>